/**************** Global Variables ****************/
body {
    font-family: 'Roboto', sans-serif;
    color: #1F1F1F;
    margin: 0;
    display: inline-block;
    width: 100%;
}
h1, h2, #brand {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
h2 {
    font-size: 30px;
}
a, a:hover{
    text-decoration: none;
    color: #1F1F1F;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
button {
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    color: #004E96;
    border: 5px solid #004E96;
    border-radius: 0.3rem;
    padding: 3px 22px;
}
.website-width {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.bold {
    font-weight: bold;
    color: #1F1F1F;
}
.brand {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
.page-heading {
    text-align: center;
    padding: 20px 0;
}
/**************** Menu ****************/
.menu {
    display: flex;
    justify-content: space-between;
}
li {
    float: left;
}
.links {
    font-size: 20px;
    padding-top: 21px;
}
.links-padding {
    padding-right: 40px; 
}
.menu-icons {
    padding-top: 20px;
    font-size: 25px;
}
.github-padding {
    padding-right: 10px;
}
/* Search Bar */
.menu-input {
    display: inline-block;
    height: 48px;
    max-width: 500px;
    width: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #717171;
    outline: none;
    transition: width 0.4s ease-in-out;
    position: relative;
    bottom: 20px;
}
.menu-input:focus, .menu-input:hover {
    width: 195px;
    border-bottom: 4px solid #004E96;
}
.search-icon {
    position: relative;
    bottom: 13px;
}
/**************** Slide Out Menu ****************/
.slide-out-menu {
    display: none;
    width: 100%;
    height: auto;
    text-align: center;
}
/* Navbar Top */
.slide-out-top {
    display: flex;
    justify-content: space-between;
    background-color: white;
}
/* All Links */
.slide-links {
    bottom: 0;
    width: 100%;
    position: absolute;
    top: 65px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    background-color: #004E96;
    opacity: 0;
}
.slide-link {
    margin-bottom: 35px;
}
.slide-menu-link {
    color: white;
    font-size: 23px;
}
/* Socials */
.slide-menu-socials {
    font-size: 45px;
    padding-top: 20px;
}
.slide-menu-github {
    padding-right: 17px;
}
/* Input */
.slide-search {
    display: flex;
    justify-content: center;
}
.slide-search-icon {
    position: relative;
    top: 29px;
    left: 10px;
}
.slide-input {
    height: 48px;
    max-width: 500px;
    width: 195px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid white;
    color: white;
    outline: none;
    transition: width 0.4s ease-in-out;
}
.slide-input:focus, .slide-input:hover {
    width: 70%;
}
input[type="text"]{
    font-size: 20px;
    text-align: center;
}
/**************** Home Page Section ****************/
.home-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.view-all {
    position: relative;
    top: 12px;
    color: #004E96;
    font-size: 20px;
}
/* Home Introduction */
.intro-section {
    margin: auto;
    text-align: center;
    max-width: 600px;
}
.emoji {
    font-size: 40px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
}
.home-subtitle {
    font-size: 25px;
    color: #717171;
    margin: 0;
    margin-bottom: 10px;
}
.home-title {
    font-size: 40px;
    margin-bottom: 20px;
}
.arrow {
    font-size: 80px;
    color: #DCDBDB;
    margin-bottom: 40px;
}
/* Projects Section */
.home-project {
    display: flex;
    flex-wrap: wrap;
}
.home-project-img {
   max-width: 50%;
}
/* About Section */
.home-about {
    margin: auto;
    text-align: center;
    padding: 3rem 0;
}
.home-about-text {
    color: #474747;
    font-size: 25px;
    padding-bottom: 20px;
}
/* Blog Section */
.home-blog {
    display: flex;
    justify-content: space-between;
}
.home-blog-preview {
    width: 32%
}
.home-blog-img {
    width: 100%
}
.home-blog-title {
    font-size: 25px;
    font-weight: normal;
    margin: 0;
}
.home-blog-text {
    color: #474747;
    font-size: 20px;
    margin: 0;
    margin-top: 9px;
    margin-bottom: 20px;
}
.home-blog-date {
    color: #717171;
    font-size: 17px;
    margin: 9px 0;
}
/**************** Portfolio Page ****************/
.project-container {
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    float: left;
    height: 0;
}
.project-img {
    width: 100%;
    float: left;
}
.project-description-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-description {
    padding: 0 10%;
}
.project-title {
    font-size: 40px;
}
.project-name {
    font-size: 20px;
    color: #717171;
    margin: 0;
}
.project-text {
    font-size: 20px;
    color: #474747;
    margin: 10px 0;
}
.tool {
    font-size: 20px;
    color: #717171;
    border: 1px solid #717171;
    border-radius: 0.3rem;
    padding: 3px 22px;
    float: left;
    margin: 5px 5px 0 0;
}
.project-links {
    clear: both;
    padding-top: 5px;
}
.launch-btn {
    margin-top: 10px;
    margin-right: 7px;
    color: #1F1F1F;
    border: 5px solid #1F1F1F;
}
/**************** Blog Page Section ****************/
/* Blog Preview Bottom */
.blog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog-preview {
    width: 48.5%
}
/* Blog Index */
.page-index {
    text-align: center;
    font-size: 20px;
}
/**************** About Page Section ****************/
.about-text {
    font-size: 20px;
    max-width: 700px;
    color: #474747;
    margin: auto;
}
/**************** Blog Post Page Section ****************/
.post {
    width: 100%;
}
.post-date {
    text-align: center;
    margin: 0;
    position: relative;
    bottom: 16px;
}
.post-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    width: 100%;
    margin-bottom: 20px;
}
.post-content {
    max-width: 700px;
    margin: auto;
    font-size: 20px;
    color: #474747;
    margin-bottom: 40px;
}
.related-content {
    margin-bottom: 10px;
}
/**************** 404 Page Section ****************/
.error-text {
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #474747;
    padding-bottom: 10px;
    position: relative;
    bottom: 10px;
}
.error-img {
    width: 100%;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/**************** Footer ****************/
.footer-top {
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.footer-top-section {
    width: 50%;
}
.footer-socials {
    font-size: 20px;
}
.footer-social {
    float: left;
    padding-right: 8px;
    position: relative;
    top: 2px;
}
.explore-section {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.footer-subtitle {
    color: #444444;
    font-size: 20px;
    width: 95%;
}
.footer-links {
    padding-bottom: 17px;
}
.attribute {
    text-align: center;
    color: #717171;
    font-size: 20px;
}

@media only screen and (max-width: 1026px) {
/**************** Menus ****************/
.menu {
    display: none;
}
.slide-out-menu {
    display: inline-block;
}
/**************** Portfolio ****************/ 
.project {
    display: flex;
    flex-direction: column;
}
.project-container {
    position: relative;
    width: 100%;
    padding-bottom: 0;
    float: left;
    height: auto;
}
.project-img {
    height: auto;
}
.project-order {
    order: -1;
}
.project-description-container {
    height: auto;
    position: relative;
}
.project-description {
    padding: 20px;
}
}
@media only screen and (max-width: 700px) {
/**************** Homepage ****************/   
/* Home Project Image */
.home-project-img {
    max-width: 100%;
}
/* Home Blog Preview */
.home-blog {
    flex-direction: column;
    justify-content: center;
}
.home-blog-preview {
    width: 100%;
}
/**************** Blog ****************/ 
.blog-preview {
    width: 100%
}
}
 