/**************** Global Variables ****************/
body {
    font-family: 'Roboto', sans-serif;
    color: #1F1F1F;
    margin: 0;
    display: inline-block;
}
h1, h2, #brand {
    font-family: 'Nunito', sans-serif;
}
h2 {
    font-size: 30;
}
a, a:hover{
    text-decoration: none;
    color: #1F1F1F;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
button {
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-size: 25;
    color: #004E96;
    border: 3px solid #004E96;
    border-radius: 0.2rem;
    padding: 2px 12px;
}
.website-width {
    max-width: 800px;
    margin: auto;
}
.bold {
    font-weight: bold;
}
.brand {
    font-family: 'Nunito', sans-serif;
}
/**************** Menu ****************/
.menu {
    display: flex;
    justify-content: space-between;
}
li {
    float: left;
}
.links {
    font-size: 20;
    padding-top: 15px;
}
.links-padding {
    padding-right: 27px; 
}
.menu-socials {
    padding-top: 15px;
    width: 25px;
}
/**************** Home Page Section ****************/
.home-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.view-all {
    position: relative;
    top: 27px;
    color: #004E96;
}
/* Home Introduction */
.intro-section {
    margin: auto;
    text-align: center;
    width: 400px;
}
.emoji {
    font-size: 25px;
}
.home-subtitle {
    font-size: 30;
    color: #474747;
}
.home-title {
    font-size: 45;
}
.arrow {
    font-size: 80px;
    color: #C4C4C4;
}
/* Projects Section */
.home-project {
    display: flex;
    flex-wrap: wrap;
}
.home-project-img {
   max-width: 50%;
}
/* About Section */
.home-about {
    margin: auto;
    text-align: center;
    padding: 3rem 0;
}
.home-about-text {
    color: #474747;
}
/* Blog Section */
.home-blog {
    display: flex;
    justify-content: space-between;
}
.home-blog-preview {
    width: 32%
}
.home-blog-img {
    width: 100%
}
/**************** Footer ****************/
.footer-top {
    display: flex;
}
.footer-top-section {
    width: 50%;
}
.attribute {
    text-align: center;
}